@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  background: transparent;
}
*:focus {
  outline: 0;
}

button,
input,
textarea {
  all: unset;
  box-sizing: border-box;
}

:root {
  --focus: #3a3a3a;
  --bgBody: #e7e7e7;
  --blockBg: #f5f5f5;
  --mainNavBg: #ffffff;
  --settingsOutline: #f5f5f5;
  --settingsOutlineSelected: #ffffff;
  --toggleBg: #e7e7e7;
  --settingsText:#6c6c6c;
  --headerTitle: #3a3a3a;
  --headerSubtitle: #8a8a8a;
  --accordionButton: #6c6c6c;
  --accordionBg: #ffffff;
  --accordionBgHover: #f5f5f5;
  --accordionBorder: #e7e7e7;
  --accordionText: #8a8a8a;
  --accordionTextHover: #525252;
  --inputBg: #ffffff;
  --inputOutline: #e7e7e7;
  --inputText: #6c6c6c;
  --inputLabel: #8a8a8a;
  --iconClose:#6c6c6c;
  --contactItem: #8a8a8a;
  --contactItemHover: #525252;
  --contactItemBg: #ffffff;
}
:root .logo path:first-child {
  fill: #3a3a3a;
}

[data-theme-mode=dark] {
  --focus: #ffffff;
  --bgBody: #313131;
  --blockBg: #3a3a3a;
  --mainNavBg: #525252;
  --settingsOutline: #6c6c6c;
  --settingsOutlineSelected: #cbcbcb;
  --toggleBg: #3a3a3a;
  --settingsText:#b4b4b4;
  --headerTitle: #ffffff;
  --headerSubtitle: #b4b4b4;
  --accordionButton: #e7e7e7;
  --accordionBg: #525252;
  --accordionBgHover: #3a3a3a;
  --accordionBorder: #6c6c6c;
  --accordionText: #b4b4b4;
  --accordionTextHover: #ffffff;
  --inputBg: #525252;
  --inputOutline: #6c6c6c;
  --inputText: #cbcbcb;
  --inputLabel: #cbcbcb;
  --iconClose: #e7e7e7;
  --contactItem: #8a8a8a;
  --contactItemHover: #ffffff;
  --contactItemBg: #525252;
}
[data-theme-mode=dark] .logo path:first-child {
  fill: #cbcbcb;
}

[data-theme-color=gra-01] {
  --accentColor: linear-gradient(90deg, #c64230 1.06%, #ea6b23 100%);
}
[data-theme-color=gra-01] .color1 {
  stop-color: #c64230;
}
[data-theme-color=gra-01] .color2 {
  stop-color: #ea6b23;
}

[data-theme-color=gra-02] {
  --accentColor: linear-gradient(90deg, #e88b00 1.06%, #ecaa00 100%);
}
[data-theme-color=gra-02] .color1 {
  stop-color: #e88b00;
}
[data-theme-color=gra-02] .color2 {
  stop-color: #ecaa00;
}

[data-theme-color=gra-03] {
  --accentColor: linear-gradient(90deg, #5fa01d 1.06%, #94c22f 100%);
}
[data-theme-color=gra-03] .color1 {
  stop-color: #5fa01d;
}
[data-theme-color=gra-03] .color2 {
  stop-color: #94c22f;
}

[data-theme-color=gra-04] {
  --accentColor: linear-gradient(90deg, #209478 1.06%, #3acb97 100%);
}
[data-theme-color=gra-04] .color1 {
  stop-color: #209478;
}
[data-theme-color=gra-04] .color2 {
  stop-color: #3acb97;
}

[data-theme-color=gra-05] {
  --accentColor: linear-gradient(90deg, #1c88ab 1.06%, #2dbcc6 100%);
}
[data-theme-color=gra-05] .color1 {
  stop-color: #1c88ab;
}
[data-theme-color=gra-05] .color2 {
  stop-color: #2dbcc6;
}

[data-theme-color=gra-06] {
  --accentColor: linear-gradient(90deg, #7c52a6 1.06%, #7c52a6 100%);
}
[data-theme-color=gra-06] .color1 {
  stop-color: #7c52a6;
}
[data-theme-color=gra-06] .color2 {
  stop-color: #7c52a6;
}

@font-face {
  font-family: "feather";
  src: url("../assets/fonts/feather.eot?vkmcy0");
  src: url("../assets/fonts/feather.eot?vkmcy0#iefix") format("embedded-opentype"), url("../assets/fonts/feather.ttf?vkmcy0") format("truetype"), url("../assets/fonts/feather.woff?vkmcy0") format("woff"), url("../assets/fonts/feather.svg?vkmcy0#feather") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "feather" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activity:before {
  content: "\e900";
}

.icon-airplay:before {
  content: "\e901";
}

.icon-alert-circle:before {
  content: "\e902";
}

.icon-alert-octagon:before {
  content: "\e903";
}

.icon-alert-triangle:before {
  content: "\e904";
}

.icon-align-center:before {
  content: "\e905";
}

.icon-align-justify:before {
  content: "\e906";
}

.icon-align-left:before {
  content: "\e907";
}

.icon-align-right:before {
  content: "\e908";
}

.icon-anchor:before {
  content: "\e909";
}

.icon-aperture:before {
  content: "\e90a";
}

.icon-archive:before {
  content: "\e90b";
}

.icon-arrow-down:before {
  content: "\e90c";
}

.icon-arrow-down-circle:before {
  content: "\e90d";
}

.icon-arrow-down-left:before {
  content: "\e90e";
}

.icon-arrow-down-right:before {
  content: "\e90f";
}

.icon-arrow-left:before {
  content: "\e910";
}

.icon-arrow-left-circle:before {
  content: "\e911";
}

.icon-arrow-right:before {
  content: "\e912";
}

.icon-arrow-right-circle:before {
  content: "\e913";
}

.icon-arrow-up:before {
  content: "\e914";
}

.icon-arrow-up-circle:before {
  content: "\e915";
}

.icon-arrow-up-left:before {
  content: "\e916";
}

.icon-arrow-up-right:before {
  content: "\e917";
}

.icon-at-sign:before {
  content: "\e918";
}

.icon-award:before {
  content: "\e919";
}

.icon-bar-chart:before {
  content: "\e91a";
}

.icon-bar-chart-2:before {
  content: "\e91b";
}

.icon-battery:before {
  content: "\e91c";
}

.icon-battery-charging:before {
  content: "\e91d";
}

.icon-bell:before {
  content: "\e91e";
}

.icon-bell-off:before {
  content: "\e91f";
}

.icon-bluetooth:before {
  content: "\e920";
}

.icon-bold:before {
  content: "\e921";
}

.icon-book:before {
  content: "\e922";
}

.icon-book-open:before {
  content: "\e923";
}

.icon-bookmark:before {
  content: "\e924";
}

.icon-box:before {
  content: "\e925";
}

.icon-briefcase:before {
  content: "\e926";
}

.icon-calendar:before {
  content: "\e927";
}

.icon-camera:before {
  content: "\e928";
}

.icon-camera-off:before {
  content: "\e929";
}

.icon-cast:before {
  content: "\e92a";
}

.icon-check:before {
  content: "\e92b";
}

.icon-check-circle:before {
  content: "\e92c";
}

.icon-check-square:before {
  content: "\e92d";
}

.icon-chevron-down:before {
  content: "\e92e";
}

.icon-chevron-left:before {
  content: "\e92f";
}

.icon-chevron-right:before {
  content: "\e930";
}

.icon-chevron-up:before {
  content: "\e931";
}

.icon-chevrons-down:before {
  content: "\e932";
}

.icon-chevrons-left:before {
  content: "\e933";
}

.icon-chevrons-right:before {
  content: "\e934";
}

.icon-chevrons-up:before {
  content: "\e935";
}

.icon-chrome:before {
  content: "\e936";
}

.icon-circle:before {
  content: "\e937";
}

.icon-clipboard:before {
  content: "\e938";
}

.icon-clock:before {
  content: "\e939";
}

.icon-cloud:before {
  content: "\e93a";
}

.icon-cloud-drizzle:before {
  content: "\e93b";
}

.icon-cloud-lightning:before {
  content: "\e93c";
}

.icon-cloud-off:before {
  content: "\e93d";
}

.icon-cloud-rain:before {
  content: "\e93e";
}

.icon-cloud-snow:before {
  content: "\e93f";
}

.icon-code:before {
  content: "\e940";
}

.icon-codepen:before {
  content: "\e941";
}

.icon-codesandbox:before {
  content: "\e942";
}

.icon-coffee:before {
  content: "\e943";
}

.icon-columns:before {
  content: "\e944";
}

.icon-command:before {
  content: "\e945";
}

.icon-compass:before {
  content: "\e946";
}

.icon-copy:before {
  content: "\e947";
}

.icon-corner-down-left:before {
  content: "\e948";
}

.icon-corner-down-right:before {
  content: "\e949";
}

.icon-corner-left-down:before {
  content: "\e94a";
}

.icon-corner-left-up:before {
  content: "\e94b";
}

.icon-corner-right-down:before {
  content: "\e94c";
}

.icon-corner-right-up:before {
  content: "\e94d";
}

.icon-corner-up-left:before {
  content: "\e94e";
}

.icon-corner-up-right:before {
  content: "\e94f";
}

.icon-cpu:before {
  content: "\e950";
}

.icon-credit-card:before {
  content: "\e951";
}

.icon-crop:before {
  content: "\e952";
}

.icon-crosshair:before {
  content: "\e953";
}

.icon-database:before {
  content: "\e954";
}

.icon-delete:before {
  content: "\e955";
}

.icon-disc:before {
  content: "\e956";
}

.icon-dollar-sign:before {
  content: "\e957";
}

.icon-download:before {
  content: "\e958";
}

.icon-download-cloud:before {
  content: "\e959";
}

.icon-droplet:before {
  content: "\e95a";
}

.icon-edit:before {
  content: "\e95b";
}

.icon-edit-2:before {
  content: "\e95c";
}

.icon-edit-3:before {
  content: "\e95d";
}

.icon-external-link:before {
  content: "\e95e";
}

.icon-eye:before {
  content: "\e95f";
}

.icon-eye-off:before {
  content: "\e960";
}

.icon-facebook:before {
  content: "\e961";
}

.icon-fast-forward:before {
  content: "\e962";
}

.icon-feather:before {
  content: "\e963";
}

.icon-figma:before {
  content: "\e964";
}

.icon-file:before {
  content: "\e965";
}

.icon-file-minus:before {
  content: "\e966";
}

.icon-file-plus:before {
  content: "\e967";
}

.icon-file-text:before {
  content: "\e968";
}

.icon-film:before {
  content: "\e969";
}

.icon-filter:before {
  content: "\e96a";
}

.icon-flag:before {
  content: "\e96b";
}

.icon-folder:before {
  content: "\e96c";
}

.icon-folder-minus:before {
  content: "\e96d";
}

.icon-folder-plus:before {
  content: "\e96e";
}

.icon-framer:before {
  content: "\e96f";
}

.icon-frown:before {
  content: "\e970";
}

.icon-gift:before {
  content: "\e971";
}

.icon-git-branch:before {
  content: "\e972";
}

.icon-git-commit:before {
  content: "\e973";
}

.icon-git-merge:before {
  content: "\e974";
}

.icon-git-pull-request:before {
  content: "\e975";
}

.icon-github:before {
  content: "\e976";
}

.icon-gitlab:before {
  content: "\e977";
}

.icon-globe:before {
  content: "\e978";
}

.icon-grid:before {
  content: "\e979";
}

.icon-hard-drive:before {
  content: "\e97a";
}

.icon-hash:before {
  content: "\e97b";
}

.icon-headphones:before {
  content: "\e97c";
}

.icon-heart:before {
  content: "\e97d";
}

.icon-help-circle:before {
  content: "\e97e";
}

.icon-hexagon:before {
  content: "\e97f";
}

.icon-home:before {
  content: "\e980";
}

.icon-image:before {
  content: "\e981";
}

.icon-inbox:before {
  content: "\e982";
}

.icon-info:before {
  content: "\e983";
}

.icon-instagram:before {
  content: "\e984";
}

.icon-italic:before {
  content: "\e985";
}

.icon-key:before {
  content: "\e986";
}

.icon-layers:before {
  content: "\e987";
}

.icon-layout:before {
  content: "\e988";
}

.icon-life-buoy:before {
  content: "\e989";
}

.icon-link:before {
  content: "\e98a";
}

.icon-link-2:before {
  content: "\e98b";
}

.icon-linkedin:before {
  content: "\e98c";
}

.icon-list:before {
  content: "\e98d";
}

.icon-loader:before {
  content: "\e98e";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-log-in:before {
  content: "\e990";
}

.icon-log-out:before {
  content: "\e991";
}

.icon-mail:before {
  content: "\e992";
}

.icon-map:before {
  content: "\e993";
}

.icon-map-pin:before {
  content: "\e994";
}

.icon-maximize:before {
  content: "\e995";
}

.icon-maximize-2:before {
  content: "\e996";
}

.icon-meh:before {
  content: "\e997";
}

.icon-menu:before {
  content: "\e998";
}

.icon-message-circle:before {
  content: "\e999";
}

.icon-message-square:before {
  content: "\e99a";
}

.icon-mic:before {
  content: "\e99b";
}

.icon-mic-off:before {
  content: "\e99c";
}

.icon-minimize:before {
  content: "\e99d";
}

.icon-minimize-2:before {
  content: "\e99e";
}

.icon-minus:before {
  content: "\e99f";
}

.icon-minus-circle:before {
  content: "\e9a0";
}

.icon-minus-square:before {
  content: "\e9a1";
}

.icon-monitor:before {
  content: "\e9a2";
}

.icon-moon:before {
  content: "\e9a3";
}

.icon-more-horizontal:before {
  content: "\e9a4";
}

.icon-more-vertical:before {
  content: "\e9a5";
}

.icon-mouse-pointer:before {
  content: "\e9a6";
}

.icon-move:before {
  content: "\e9a7";
}

.icon-music:before {
  content: "\e9a8";
}

.icon-navigation:before {
  content: "\e9a9";
}

.icon-navigation-2:before {
  content: "\e9aa";
}

.icon-octagon:before {
  content: "\e9ab";
}

.icon-package:before {
  content: "\e9ac";
}

.icon-paperclip:before {
  content: "\e9ad";
}

.icon-pause:before {
  content: "\e9ae";
}

.icon-pause-circle:before {
  content: "\e9af";
}

.icon-pen-tool:before {
  content: "\e9b0";
}

.icon-percent:before {
  content: "\e9b1";
}

.icon-phone:before {
  content: "\e9b2";
}

.icon-phone-call:before {
  content: "\e9b3";
}

.icon-phone-forwarded:before {
  content: "\e9b4";
}

.icon-phone-incoming:before {
  content: "\e9b5";
}

.icon-phone-missed:before {
  content: "\e9b6";
}

.icon-phone-off:before {
  content: "\e9b7";
}

.icon-phone-outgoing:before {
  content: "\e9b8";
}

.icon-pie-chart:before {
  content: "\e9b9";
}

.icon-play:before {
  content: "\e9ba";
}

.icon-play-circle:before {
  content: "\e9bb";
}

.icon-plus:before {
  content: "\e9bc";
}

.icon-plus-circle:before {
  content: "\e9bd";
}

.icon-plus-square:before {
  content: "\e9be";
}

.icon-pocket:before {
  content: "\e9bf";
}

.icon-power:before {
  content: "\e9c0";
}

.icon-printer:before {
  content: "\e9c1";
}

.icon-radio:before {
  content: "\e9c2";
}

.icon-refresh-ccw:before {
  content: "\e9c3";
}

.icon-refresh-cw:before {
  content: "\e9c4";
}

.icon-repeat:before {
  content: "\e9c5";
}

.icon-rewind:before {
  content: "\e9c6";
}

.icon-rotate-ccw:before {
  content: "\e9c7";
}

.icon-rotate-cw:before {
  content: "\e9c8";
}

.icon-rss:before {
  content: "\e9c9";
}

.icon-save:before {
  content: "\e9ca";
}

.icon-scissors:before {
  content: "\e9cb";
}

.icon-search:before {
  content: "\e9cc";
}

.icon-send:before {
  content: "\e9cd";
}

.icon-server:before {
  content: "\e9ce";
}

.icon-settings:before {
  content: "\e9cf";
}

.icon-share:before {
  content: "\e9d0";
}

.icon-share-2:before {
  content: "\e9d1";
}

.icon-shield:before {
  content: "\e9d2";
}

.icon-shield-off:before {
  content: "\e9d3";
}

.icon-shopping-bag:before {
  content: "\e9d4";
}

.icon-shopping-cart:before {
  content: "\e9d5";
}

.icon-shuffle:before {
  content: "\e9d6";
}

.icon-sidebar:before {
  content: "\e9d7";
}

.icon-skip-back:before {
  content: "\e9d8";
}

.icon-skip-forward:before {
  content: "\e9d9";
}

.icon-slack:before {
  content: "\e9da";
}

.icon-slash:before {
  content: "\e9db";
}

.icon-sliders:before {
  content: "\e9dc";
}

.icon-smartphone:before {
  content: "\e9dd";
}

.icon-smile:before {
  content: "\e9de";
}

.icon-speaker:before {
  content: "\e9df";
}

.icon-square:before {
  content: "\e9e0";
}

.icon-star:before {
  content: "\e9e1";
}

.icon-stop-circle:before {
  content: "\e9e2";
}

.icon-sun:before {
  content: "\e9e3";
}

.icon-sunrise:before {
  content: "\e9e4";
}

.icon-sunset:before {
  content: "\e9e5";
}

.icon-tablet:before {
  content: "\e9e6";
}

.icon-tag:before {
  content: "\e9e7";
}

.icon-target:before {
  content: "\e9e8";
}

.icon-terminal:before {
  content: "\e9e9";
}

.icon-thermometer:before {
  content: "\e9ea";
}

.icon-thumbs-down:before {
  content: "\e9eb";
}

.icon-thumbs-up:before {
  content: "\e9ec";
}

.icon-toggle-left:before {
  content: "\e9ed";
}

.icon-toggle-right:before {
  content: "\e9ee";
}

.icon-tool:before {
  content: "\e9ef";
}

.icon-trash:before {
  content: "\e9f0";
}

.icon-trash-2:before {
  content: "\e9f1";
}

.icon-trello:before {
  content: "\e9f2";
}

.icon-trending-down:before {
  content: "\e9f3";
}

.icon-trending-up:before {
  content: "\e9f4";
}

.icon-triangle:before {
  content: "\e9f5";
}

.icon-truck:before {
  content: "\e9f6";
}

.icon-tv:before {
  content: "\e9f7";
}

.icon-twitch:before {
  content: "\e9f8";
}

.icon-twitter:before {
  content: "\e9f9";
}

.icon-type:before {
  content: "\e9fa";
}

.icon-umbrella:before {
  content: "\e9fb";
}

.icon-underline:before {
  content: "\e9fc";
}

.icon-unlock:before {
  content: "\e9fd";
}

.icon-upload:before {
  content: "\e9fe";
}

.icon-upload-cloud:before {
  content: "\e9ff";
}

.icon-user:before {
  content: "\ea00";
}

.icon-user-check:before {
  content: "\ea01";
}

.icon-user-minus:before {
  content: "\ea02";
}

.icon-user-plus:before {
  content: "\ea03";
}

.icon-user-x:before {
  content: "\ea04";
}

.icon-users:before {
  content: "\ea05";
}

.icon-video:before {
  content: "\ea06";
}

.icon-video-off:before {
  content: "\ea07";
}

.icon-voicemail:before {
  content: "\ea08";
}

.icon-volume:before {
  content: "\ea09";
}

.icon-volume-1:before {
  content: "\ea0a";
}

.icon-volume-2:before {
  content: "\ea0b";
}

.icon-volume-x:before {
  content: "\ea0c";
}

.icon-watch:before {
  content: "\ea0d";
}

.icon-wifi:before {
  content: "\ea0e";
}

.icon-wifi-off:before {
  content: "\ea0f";
}

.icon-wind:before {
  content: "\ea10";
}

.icon-x:before {
  content: "\ea11";
}

.icon-x-circle:before {
  content: "\ea12";
}

.icon-x-octagon:before {
  content: "\ea13";
}

.icon-x-square:before {
  content: "\ea14";
}

.icon-youtube:before {
  content: "\ea15";
}

.icon-zap:before {
  content: "\ea16";
}

.icon-zap-off:before {
  content: "\ea17";
}

.icon-zoom-in:before {
  content: "\ea18";
}

.icon-zoom-out:before {
  content: "\ea19";
}

.accordion {
  padding: 4px;
}
.accordion__button {
  font-family: "Roboto Mono", monospace;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: calc(0.875rem + 0.5rem);
  position: relative;
  color: var(--accordionButton);
  min-height: 40px;
  padding: 8px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: inset 0px -1px 0px var(--accordionBorder);
  cursor: pointer;
  z-index: 0;
  transition: all 0.3s ease, color 0.1s ease;
  border-radius: 0px;
}
.accordion__button:before {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 8px;
  background: var(--accentColor);
  z-index: -1;
  opacity: 0;
  height: calc(100% - 12px);
  width: 0px;
  transition: opacity 0.3s ease, transform 0.2s ease;
  transform: translateX(-8px);
}
@media (max-width: 1023px) {
  .accordion__button:before {
    transform: none;
    height: 100%;
    width: 100%;
  }
}
.accordion__button:after {
  content: "\e92e";
  font-family: "feather" !important;
  position: absolute;
  width: 24px;
  height: 24px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  right: 16px;
  transition: transform 0.3s ease;
  transform-origin: center;
}
.accordion__button:hover {
  padding: 8px 16px;
}
@media (max-width: 1023px) {
  .accordion__button:hover {
    padding: 8px 0px;
  }
}
.accordion__button:hover:before {
  opacity: 1;
  width: 4px;
  transform: translateX(0);
}
@media (max-width: 1023px) {
  .accordion__button:hover:before {
    opacity: 0;
    width: 100%;
  }
}
.accordion__list {
  height: auto;
  max-height: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  overflow: hidden;
  margin-top: 4px;
}
.accordion__listItem {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: calc(0.875rem + 0.5rem);
  color: var(--accordionText);
  border-bottom: 1px solid var(--accordionBorder);
  padding: 16px;
  cursor: pointer;
  transition: all 0.4s ease;
}
.accordion__listItem:first-child {
  border-radius: 8px 8px 0px 0px;
}
.accordion__listItem:first-child:last-child {
  border-radius: 8px;
}
.accordion__listItem:last-child {
  border-bottom: none;
  border-radius: 0px 0px 8px 8px;
}
.accordion__listItem:hover {
  color: var(--accordionTextHover);
}
.accordion__listItem.selected {
  color: var(--accordionTextHover);
  background: var(--accordionBgHover);
}
.accordion.open {
  background: var(--accordionBg);
  border-radius: 12px;
  box-shadow: 0px 4px 21px -8px rgba(0, 0, 0, 0.25);
  margin-bottom: 8px;
}
.accordion.open:nth-last-of-type() {
  margin-bottom: 0;
}
.accordion.open .accordion__list {
  opacity: 1;
  pointer-events: all;
}
.accordion.open .accordion__button {
  color: #ffffff;
  box-shadow: none;
  padding: 8px 16px;
}
.accordion.open .accordion__button:before {
  opacity: 1;
  width: 100%;
  height: 100%;
  transform: none;
}
.accordion.open .accordion__button:after {
  transform: rotate(180deg);
}

.block {
  background: var(--blockBg);
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1023px) {
  .block {
    max-height: unset;
    max-width: 480px;
    overflow: initial;
  }
}
.block__content {
  padding: 40px 32px;
  max-height: 100%;
  overflow-y: auto;
}
@media (max-width: 1023px) {
  .block__content {
    overflow: initial;
    max-height: initial;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .block__content {
    padding: 24px 16px;
  }
}
.block__content::-webkit-scrollbar {
  display: none;
}

.button {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
  line-height: calc(1rem + 0.5rem);
  background: var(--accentColor);
  color: #ffffff;
  height: 40px;
  padding: 0 24px;
  border-radius: 10px;
  line-height: 1.375rem;
  cursor: pointer;
  transition: all 0.3s ease;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 0;
}
.button:before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: var(--accentColor);
  transform: rotate(-180deg);
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}
.button:hover {
  transform: translateY(2px);
}
.button:hover:before {
  opacity: 1;
  width: 100%;
  left: 0;
  right: inherit;
}
.button.icon {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 4px;
}
.button.icon i {
  width: 24px;
  height: 24px;
  font-size: 24px;
  display: flex;
  justify-content: center;
}
.button.icon:hover {
  transform: none;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 24px;
}
.forms__input, .forms__input--checkbox, .forms__input--textArea, .forms__input--email {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 40px;
  margin-bottom: 12px;
}
.forms__input input, .forms__input--checkbox input, .forms__input--textArea input, .forms__input--email input,
.forms__input textarea,
.forms__input--checkbox textarea,
.forms__input--textArea textarea,
.forms__input--email textarea {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: calc(0.875rem + 0.5rem);
  background: var(--inputBg);
  border-radius: 8px;
  box-shadow: inset 0px 0px 0px 1px var(--inputOutline);
  color: var(--inputText);
  width: 100%;
  height: 100%;
  padding: 0 16px;
}
.forms__input input::-moz-placeholder, .forms__input--checkbox input::-moz-placeholder, .forms__input--textArea input::-moz-placeholder, .forms__input--email input::-moz-placeholder, .forms__input textarea::-moz-placeholder, .forms__input--checkbox textarea::-moz-placeholder, .forms__input--textArea textarea::-moz-placeholder, .forms__input--email textarea::-moz-placeholder {
  font-family: "Roboto Mono", monospace;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: calc(0.75rem + 0.5rem);
  color: var(--inputText);
  opacity: 0.6;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.forms__input input:-ms-input-placeholder, .forms__input--checkbox input:-ms-input-placeholder, .forms__input--textArea input:-ms-input-placeholder, .forms__input--email input:-ms-input-placeholder, .forms__input textarea:-ms-input-placeholder, .forms__input--checkbox textarea:-ms-input-placeholder, .forms__input--textArea textarea:-ms-input-placeholder, .forms__input--email textarea:-ms-input-placeholder {
  font-family: "Roboto Mono", monospace;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: calc(0.75rem + 0.5rem);
  color: var(--inputText);
  opacity: 0.6;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.forms__input input::placeholder, .forms__input--checkbox input::placeholder, .forms__input--textArea input::placeholder, .forms__input--email input::placeholder,
.forms__input textarea::placeholder,
.forms__input--checkbox textarea::placeholder,
.forms__input--textArea textarea::placeholder,
.forms__input--email textarea::placeholder {
  font-family: "Roboto Mono", monospace;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: calc(0.75rem + 0.5rem);
  color: var(--inputText);
  opacity: 0.6;
  transition: all 0.2s ease;
}
.forms__input input:focus, .forms__input--checkbox input:focus, .forms__input--textArea input:focus, .forms__input--email input:focus,
.forms__input textarea:focus,
.forms__input--checkbox textarea:focus,
.forms__input--textArea textarea:focus,
.forms__input--email textarea:focus {
  box-shadow: inset 0px 0px 0px 2px var(--inputOutline);
}
.forms__input input:focus::-moz-placeholder, .forms__input--checkbox input:focus::-moz-placeholder, .forms__input--textArea input:focus::-moz-placeholder, .forms__input--email input:focus::-moz-placeholder, .forms__input textarea:focus::-moz-placeholder, .forms__input--checkbox textarea:focus::-moz-placeholder, .forms__input--textArea textarea:focus::-moz-placeholder, .forms__input--email textarea:focus::-moz-placeholder {
  opacity: 1;
}
.forms__input input:focus:-ms-input-placeholder, .forms__input--checkbox input:focus:-ms-input-placeholder, .forms__input--textArea input:focus:-ms-input-placeholder, .forms__input--email input:focus:-ms-input-placeholder, .forms__input textarea:focus:-ms-input-placeholder, .forms__input--checkbox textarea:focus:-ms-input-placeholder, .forms__input--textArea textarea:focus:-ms-input-placeholder, .forms__input--email textarea:focus:-ms-input-placeholder {
  opacity: 1;
}
.forms__input input:focus::placeholder, .forms__input--checkbox input:focus::placeholder, .forms__input--textArea input:focus::placeholder, .forms__input--email input:focus::placeholder,
.forms__input textarea:focus::placeholder,
.forms__input--checkbox textarea:focus::placeholder,
.forms__input--textArea textarea:focus::placeholder,
.forms__input--email textarea:focus::placeholder {
  opacity: 1;
}
.forms__input--email input {
  padding: 0 48px 0 16px;
}
.forms__input--email .button.icon {
  position: absolute;
  right: 4px;
}
.forms__input--textArea {
  height: 180px;
}
.forms__input--textArea textarea {
  resize: none;
  padding: 16px;
}
.forms__input--checkbox {
  gap: 16px;
  align-items: flex-start;
  height: auto;
  flex-direction: row !important;
}
.forms__input--checkbox input[type=checkbox] {
  position: relative;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 24px;
  min-width: 24px;
  height: 24px;
  min-height: 24px;
  padding: 0;
  border-radius: 4px;
}
.forms__input--checkbox input[type=checkbox]:focus {
  box-shadow: inset 0px 0px 0px 1px var(--inputOutline);
}
.forms__input--checkbox input[type=checkbox]:after {
  font-family: "feather" !important;
  content: "\e92b";
  display: block;
  width: 24px;
  height: 24px;
  font-size: 22px;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.2s ease;
  transform: scale(0.5);
}
.forms__input--checkbox input[type=checkbox]:checked:after {
  opacity: 1;
  transform: scale(1);
}
.forms__input--checkbox label {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: calc(0.75rem + 0.5rem);
  color: var(--inputLabel);
}
.forms__input.error input, .error.forms__input--email input, .error.forms__input--textArea input, .error.forms__input--checkbox input,
.forms__input.error textarea,
.error.forms__input--email textarea,
.error.forms__input--textArea textarea,
.error.forms__input--checkbox textarea {
  box-shadow: inset 0px 0px 0px 1px #DF6251;
}
.forms__input.error .forms__message, .error.forms__input--email .forms__message, .error.forms__input--textArea .forms__message, .error.forms__input--checkbox .forms__message {
  opacity: 1;
}
.forms__input.error label, .error.forms__input--email label, .error.forms__input--textArea label, .error.forms__input--checkbox label {
  color: #DF6251;
}
.forms__message {
  font-family: "Roboto", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: calc(0.75rem + 0.5rem);
  position: absolute;
  bottom: -22px;
  left: 8px;
  color: #DF6251;
  opacity: 0;
}
.header {
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .header {
    margin-bottom: 16px;
  }
}
.header__title {
  font-family: "Roboto Mono", monospace;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: calc(1.375rem + 0.5rem);
  color: var(--headerTitle);
}
@media (max-width: 767px) {
  .header__title {
    font-size: 1.125rem;
  }
}
.header__subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: calc(0.875rem + 0.5rem);
  color: var(--headerSubtitle);
  margin-top: 8px;
}

.categoryBlock:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0px;
  height: 100px;
  background: linear-gradient(transparent, var(--blockBg) 80%);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
@media (max-width: 1023px) {
  .categoryBlock:before {
    display: none;
  }
}
.categoryBlock.fadeBottom {
  display: flex;
  justify-content: center;
}
.categoryBlock.fadeBottom:before {
  opacity: 1;
  visibility: visible;
}
.categoryBlock .block__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1023px) {
  .categoryBlock {
    order: 2;
  }
}
@media (max-width: 1023px) {
  .categoryBlock__list {
    opacity: 0;
    height: 0;
    pointer-events: none;
    transition: all 0.3s 0.1s ease, opacity 0.15s ease;
    overflow: hidden;
  }
}
.categoryBlock__expandBtn {
  display: none;
}
@media (max-width: 1023px) {
  .categoryBlock__expandBtn {
    display: flex;
    cursor: pointer;
    background: var(--accentColor);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease;
  }
  .categoryBlock__expandBtn i {
    width: 24px;
    height: 24px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.categoryBlock.show .categoryBlock__list {
  opacity: 1;
  pointer-events: all;
  transition: all 0.3s ease;
  margin-bottom: 16px;
}
.categoryBlock.show .categoryBlock__expandBtn {
  transform: rotate(180deg);
}

.contactsBlock {
  opacity: 0;
  visibility: hidden;
  transition: transform 0.4s ease, width 0.4s ease, opacity 0.2s ease;
  transform: translateX(-150%);
  z-index: -1;
  width: 0;
}
@media (max-width: 1023px) {
  .contactsBlock {
    transform: translateX(100%);
    transform: none;
    width: 100%;
    position: fixed;
    z-index: 1;
    min-height: 100%;
    top: 0;
    right: -100%;
    transition: all 0.4s ease;
    border-radius: 0;
  }
}
.contactsBlock.show {
  width: calc(100% - 24px);
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
  right: 0;
  z-index: 1;
  transition: transform 0.4s ease, width 0.3s ease, opacity 0.3s 0.2s ease, z-index 0s 0.4s;
}
@media (max-width: 1023px) {
  .contactsBlock.show {
    transition: all 0.4s ease;
  }
}
.contactsBlock__close {
  width: 24px;
  height: 24px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  z-index: 1;
  color: var(--iconClose);
}
.contactsBlock__list {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.contactsBlock__contact, .contactsBlock__noResults {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: calc(0.875rem + 0.5rem);
  position: relative;
  width: 100%;
  height: 40px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: var(--contactItem);
  cursor: pointer;
  transition: all 0.3s ease;
}
.contactsBlock__contact:before, .contactsBlock__noResults:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  border-radius: inherit;
  z-index: -1;
  background: var(--accentColor);
  opacity: 0;
}
.contactsBlock__contact:hover, .contactsBlock__noResults:hover {
  color: var(--contactItemHover);
  background: var(--contactItemBg);
}
.contactsBlock__contact.selected, .contactsBlock__noResults.selected {
  color: #ffffff;
}
.contactsBlock__contact.selected:hover, .contactsBlock__noResults.selected:hover {
  background: transparent;
}
.contactsBlock__contact.selected:before, .contactsBlock__noResults.selected:before {
  opacity: 1;
}
.contactsBlock__contact.hide, .contactsBlock__noResults.hide {
  display: none;
}
.contactsBlock__contact.show, .contactsBlock__noResults.show {
  display: flex;
}
.contactsBlock__noResults {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
  line-height: calc(1rem + 0.5rem);
  pointer-events: none;
  cursor: default;
  display: none;
}

.mainNav {
  height: 112px;
  display: flex;
  align-items: center;
  z-index: 1;
  transition: all 0.4s ease;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1023px) {
  .mainNav {
    position: -webkit-sticky;
    position: sticky;
    height: 64px;
    margin-bottom: 24px;
  }
}
.mainNav.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: var(--mainNavBg);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}
.mainNav__content {
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
}
.mainNav__settings {
  display: flex;
  gap: 48px;
}
@media (max-width: 1023px) {
  .mainNav__settings {
    background: var(--mainNavBg);
    width: 100%;
    position: fixed;
    left: 0;
    top: -30%;
    padding: 48px 24px;
    flex-direction: column;
    z-index: 2;
    box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.15);
    gap: 40px;
    border-bottom: 1px solid var(--settingsOutline);
    opacity: 0;
    transition: top 0.4s ease, opacity 0.2s ease;
  }
}
.mainNav__settings.open {
  opacity: 1;
  top: 0;
}
.mainNav__settingsBtn, .mainNav__settingsBtn--close {
  display: none;
}
@media (max-width: 1023px) {
  .mainNav__settingsBtn, .mainNav__settingsBtn--close {
    font-family: "Roboto Mono", monospace;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: calc(0.75rem + 0.5rem);
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--settingsText);
    cursor: pointer;
  }
  .mainNav__settingsBtn i, .mainNav__settingsBtn--close i {
    width: 24px;
    height: 24px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.mainNav__settingsBtn--close {
  position: absolute;
  top: 24px;
  right: 24px;
}
.mainNav__mode, .mainNav__fonts, .mainNav__themes {
  display: flex;
  gap: 8px;
  align-items: center;
}
@media (max-width: 1023px) {
  .mainNav__mode, .mainNav__fonts, .mainNav__themes {
    flex-wrap: wrap;
    gap: 16px;
  }
}
.mainNav__items {
  display: flex;
  gap: 8px;
}
@media (max-width: 1023px) {
  .mainNav__items {
    gap: 12px;
    flex-wrap: wrap;
  }
}
.mainNav__text {
  font-family: "Roboto Mono", monospace;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: calc(0.75rem + 0.5rem);
  color: var(--settingsText);
}
.mainNav__toggle {
  position: relative;
  width: 48px;
  height: 24px;
  background: var(--toggleBg);
  border-radius: 40px;
  border: 2px solid var(--settingsOutline);
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.mainNav__toggle:before {
  width: 16px;
  height: 16px;
  position: absolute;
  content: "";
  background: #ffffff;
  border-radius: 50%;
  left: 2px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}
.mainNav__toggle.on:before {
  left: 26px;
  background: var(--accentColor);
}
.mainNav__font {
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid var(--settingsOutline);
  background: var(--toggleBg);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  opacity: 0.6;
  transition: opacity 0.2s ease;
  color: var(--settingsText);
}
.mainNav__font:nth-of-type(1) {
  font-family: "Roboto Mono", monospace;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: calc(0.875rem + 0.5rem);
  font-size: 14px;
}
.mainNav__font:nth-of-type(2) {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 500;
  line-height: calc(1rem + 0.5rem);
  font-size: 16px;
}
.mainNav__font:nth-of-type(3) {
  font-family: "Roboto Mono", monospace;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: calc(1.125rem + 0.5rem);
  font-size: 18px;
}
.mainNav__font.selected {
  border-color: var(--settingsOutlineSelected);
  opacity: 1;
}
.mainNav__color {
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid var(--settingsOutline);
  background: var(--accentColor);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  opacity: 0.6;
  transition: opacity 0.2s ease;
}
.mainNav__color[data-theme-color=random] {
  overflow: hidden;
  background: transparent;
}
.mainNav__color[data-theme-color=random] span {
  display: flex;
  position: absolute;
  width: 40px;
  height: 18%;
  background: linear-gradient(90deg, #e88b00 1.06%, #ecaa00 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1px;
  transform: rotate(-45deg);
  transform-origin: center center;
}
.mainNav__color[data-theme-color=random] span:before, .mainNav__color[data-theme-color=random] span:after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
}
.mainNav__color[data-theme-color=random] span:before {
  top: -97%;
  background: linear-gradient(90deg, #c64230 1.06%, #ea6b23 100%);
}
.mainNav__color[data-theme-color=random] span:after {
  top: initial;
  bottom: -97%;
  background: linear-gradient(90deg, #5fa01d 1.06%, #94c22f 100%);
}
.mainNav__color[data-theme-color=random] span:nth-of-type(2) {
  top: initial;
  bottom: 1px;
  background: linear-gradient(90deg, #1c88ab 1.06%, #2dbcc6 100%);
}
.mainNav__color[data-theme-color=random] span:nth-of-type(2):before {
  background: linear-gradient(90deg, #209478 1.06%, #3acb97 100%);
}
.mainNav__color[data-theme-color=random] span:nth-of-type(2):after {
  bottom: -97%;
  background: linear-gradient(90deg, #7c52a6 1.06%, #7c52a6 100%);
}
.mainNav__color.selected {
  border-color: var(--settingsOutlineSelected);
  opacity: 1;
}
.mainNav__color:hover {
  opacity: 1;
}

.content {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 120px 0;
}
@media (max-width: 1023px) {
  .content {
    padding: 0;
    position: relative;
    overflow-x: hidden;
    min-height: unset;
    padding-bottom: 56px;
  }
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 64px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}
@media (max-width: 1023px) {
  .wrapper {
    padding: 0 40px;
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 511px) {
  .wrapper {
    padding: 0 24px;
  }
}

.blocks {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: auto;
  grid-column: 2/12;
  display: flex;
  justify-content: center;
  gap: 24px;
  transition: all 0.3s ease;
}
@media (max-width: 1279px) {
  .blocks {
    grid-column: 1/13;
  }
}
@media (max-width: 1023px) {
  .blocks {
    grid-column: 2/6;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
  }
}
@media (max-width: 767px) {
  .blocks {
    grid-column: 1/7;
  }
}

:focus-visible {
  border-radius: 8px;
  border: 1px solid var(--focus);
}

input:focus-visible,
textarea:focus-visible {
  border: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}
html[data-font-size=small] {
  font-size: 14px;
}
html[data-font-size=normal] {
  font-size: 16px;
}
html[data-font-size=large] {
  font-size: 18px;
}

body {
  width: 100vw;
  font-family: "Roboto", sans-serif;
  background: var(--bgBody);
}

* {
  transition: font-size 0.2s ease;
}/*# sourceMappingURL=main.css.map */