.accordion {
   $this: &;
   padding: 4px;

   &__button {
      @include accentFont($font14, $semibold);
      position: relative;
      color: var(--accordionButton);
      min-height: 40px;
      padding: 8px 0px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: inset 0px -1px 0px var(--accordionBorder);
      cursor: pointer;
      z-index: 0;
      transition: all 0.3s ease, color 0.1s ease;
      border-radius: 0px;
      position: sticky;
      top: -36px;
      border-radius: 8px 8px 0px 0px;


      @include tablet {
         position: sticky;
         top: 67px;
      }


      &:before {
         content: "";
         position: absolute;
         left: 0;
         border-radius: 8px;
         background: var(--accentColor);
         z-index: -1;
         opacity: 0;
         height: calc(100% - 12px);
         width: 0px;
         transition: opacity 0.3s ease, transform 0.2s ease;
         transform: translateX(-8px);

         @include tablet {
            transform: none;
            height: 100%;
            width: 100%;
         }

      }

      &:after {
         content: "\e92e";
         font-family: "feather" !important;
         position: absolute;
         width: 24px;
         height: 24px;
         font-size: 24px;
         display: flex;
         justify-content: center;
         right: 16px;
         transition: transform 0.3s ease;
         transform-origin: center;
      }

      &:hover {
         padding: 8px 16px;

         @include tablet {
            padding: 8px 0px;
         }


         &:before {
            opacity: 1;
            width: 4px;
            transform: translateX(0);

            @include tablet {
               opacity: 0;
               width: 100%;
            }

         }
      }
   }

   &__list {
      height: auto;
      max-height: 0;
      opacity: 0;
      pointer-events: none;
      transition: all 0.3s ease;
      overflow: hidden;
      margin-top: 4px;
   }

   &__listItem {
      @include bodyFont($font14, $regular);
      color: var(--accordionText);
      border-bottom: 1px solid var(--accordionBorder);
      padding: 16px;
      cursor: pointer;
      transition: all 0.4s ease;

      &:first-child {
         border-radius: 8px 8px 0px 0px;
      }

      &:first-child:last-child {
         border-radius: 8px;
      }

      &:last-child {
         border-bottom: none;
         border-radius: 0px 0px 8px 8px;
      }

      &:hover {
         color: var(--accordionTextHover);

      }

      &.selected {
         color: var(--accordionTextHover);
         background: var(--accordionBgHover);
      }


   }

   &.open {
      background: var(--accordionBg);
      border-radius: 12px;
      box-shadow: 0px 4px 21px -8px rgba(0, 0, 0, 0.25);
      margin-bottom: 8px;

      &:nth-last-of-type() {
         margin-bottom: 0;
      }

      #{$this} {
         &__list {
            opacity: 1;
            pointer-events: all;
         }

         &__button {
            color: $neu-01;
            box-shadow: 0px -4px 0px 0px var(--accordionBg);
            padding: 8px 16px;

            &:before {
               opacity: 1;
               width: 100%;
               height: 100%;
               transform: none;
            }

            &:after {
               transform: rotate(180deg);
            }
         }
      }
   }
}