.block {
   background: var(--blockBg);
   box-shadow: $sha-03;
   border-radius: 16px;
   width: 100%;
   // max-height: 0px;
   // height: auto;
   overflow: hidden;
   position: relative;


   @include tablet {
      max-height: unset;
      max-width: 480px;
      overflow: initial;
   }


   &__content {
      padding: 40px 32px;
      max-height: 100%;
      overflow-y: auto;

      @include tablet {
         overflow: initial;
         max-height: initial;
         height: 100%;
      }

      @include phablet {
         padding: 32px 16px;
      }


      &::-webkit-scrollbar {
         display: none;
      }
   }
}