.forms {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 16px;
   margin-top: 24px;

   &__input {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: 40px;
      margin-bottom: 12px;

      input,
      textarea {
         @include bodyFont($font14, $regular);
         background: var(--inputBg);
         border-radius: 8px;
         box-shadow: inset 0px 0px 0px 1px var(--inputOutline);
         color: var(--inputText);
         width: 100%;
         height: 100%;
         padding: 0 16px;
         transition: box-shadow 0.1s ease;

         &::placeholder {
            @include accentFont($font12, $regular);
            color: var(--inputText);
            opacity: 0.6;
            transition: all 0.2s ease;
         }

         &:focus {
            box-shadow: inset 0px 0px 0px 2px var(--inputOutline);

            &::placeholder {
               opacity: 1;
            }
         }
      }

      &--inputIcon {
         @extend .forms__input;

         input {
            padding: 0 48px 0 16px;
         }

         .button.icon {
            position: absolute;
            right: 4px;
         }
      }

      &--textArea {
         @extend .forms__input;
         height: 180px;

         textarea {
            resize: none;
            padding: 16px;
         }
      }

      &--checkbox {
         @extend .forms__input;
         gap: 16px;
         align-items: flex-start;
         height: auto;
         flex-direction: row !important;

         input[type="checkbox"] {
            position: relative;
            cursor: pointer;
            appearance: none;
            width: 24px;
            min-width: 24px;
            height: 24px;
            min-height: 24px;
            padding: 0;
            border-radius: 4px;

            &:focus {
               box-shadow: inset 0px 0px 0px 1px var(--inputOutline);
            }
         }

         input[type="checkbox"]:after {
            font-family: "feather" !important;
            content: "\e92b";
            display: block;
            width: 24px;
            height: 24px;
            font-size: 22px;
            position: absolute;
            top: 0px;
            left: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            transition: all 0.2s ease;
            transform: scale(0.5);
         }

         input[type="checkbox"]:checked:after {
            opacity: 1;
            transform: scale(1);
         }

         label {
            @include bodyFont($font12, $regular);
            color: var(--inputLabel);
         }
      }

      &.error {

         input,
         textarea {
            box-shadow: inset 0px 0px 0px 1px $red;
         }
      }

   }

   &__message {
      @include bodyFont($font12, $regular);
      position: absolute;
      bottom: -22px;
      left: 8px;
      color: $red;

   }

   &__buttonSend {
      // margin-top: 16px;
   }
}