.header {
   margin-bottom: 24px;

   &__title {
      @include accentFont($font22, $bold);
      color: var(--headerTitle);

      @include phablet {
         font-size: $font18;
      }
   }

   &__subtitle {
      @include bodyFont($font14, $regular);
      color: var(--headerSubtitle);
      margin-top: 8px;
   }
}