.content {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 120px 0;



   @include tablet {
      padding: 0;
      position: relative;
      overflow-x: hidden;
      min-height: unset;
      padding-bottom: 56px;

   }

}

.wrapper {
   max-width: $desktop;
   width: 100%;
   margin: 0 auto;
   padding: 0 64px;
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-column-gap: 24px;

   @include tablet {
      padding: 0 40px;
      grid-template-columns: repeat(6, 1fr);
   }

   @include mobile {
      padding: 0 24px;
   }
}

.blocks {
   min-height: fit-content;
   height: auto;
   grid-column: 2/12;
   display: flex;
   justify-content: center;
   gap: 24px;
   transition: all 0.3s ease;


   @include laptop {
      grid-column: 1/13;
   }

   @include tablet {
      grid-column: 2/6;
      flex-direction: column;
      align-items: center;
      overflow-x: hidden;

   }

   @include phablet {
      grid-column: 1/7;
   }
}

:focus-visible {
   border-radius: 8px;
   border: 1px solid var(--focus);
}

input,
textarea {
   &:focus-visible {
      border: 0;
      outline: 0;
   }
}