* {
   margin: 0;
   padding: 0;
   list-style: none;
   // border: 0;
   -webkit-tap-highlight-color: transparent;
   text-decoration: none;
   color: inherit;
   box-sizing: border-box;
   background: transparent;

   &:focus {
      outline: 0;
   }
}

button,
input,
textarea {
   all: unset;
   box-sizing: border-box;
}

