.categoryBlock {
    $this: &;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0px;
        height: 100px;
        background: linear-gradient(transparent, var(--blockBg) 80%);
        z-index: 1;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: opacity 0.3s ease;

        @include tablet {
            display: none;
        }
    }

    &.fadeBottom {
        display: flex;
        justify-content: center;

        &:before {
            opacity: 1;
            visibility: visible;
        }
    }

    .block__content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include tablet {
        order: 2;
    }

    &__list {
        @include tablet {
            opacity: 0;
            height: 0;
            pointer-events: none;
            transition: all 0.3s 0.1s ease, opacity 0.15s ease;
            overflow: hidden;
        }
    }

    &__expandBtn {
        display: none;

        @include tablet {
            display: flex;
            cursor: pointer;
            background: var(--accentColor);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all 0.3s ease;

            i {
                @include icon24;
            }
        }

    }

    &.show {
        #{$this} {
            &__list {
                opacity: 1;
                pointer-events: all;
                transition: all 0.3s ease;
                margin-bottom: 16px;
            }

            &__expandBtn {
                transform: rotate(180deg);
            }
        }
    }
}